@media screen and (min-width:480px) {
	
}


@media screen and (max-width:480px) {
	
	.search-wrap .col-3 {
    	text-align: center;
    	max-width: none;
    	flex:none;
    	margin-bottom: 10px;
	}
	
	#updatedTime{
		display:none;
	}
	#searchInput{
		flex:none;
		max-width:none;
	}
	
}
