/*  PC screen */
@media screen and (min-width:480px) {
	
	#mobilePaging{
		display:none;
	}
}


/*  Mobile screen */
@media screen and (max-width:480px) {
	
	.search-wrap .col-3 {
    	text-align: center;
    	max-width: none;
    	flex:none;
    	margin-bottom: 10px;
	}
	
	#updatedTime{
		display:none;
	}
	#searchInput{
		flex:none;
		max-width:none;
	}
	#webPaging{
		display:none;
	}
	
	/* ---------------  Breed  Start ----------------- */
	#breed-img{
	 max-width: 320px;  
	 border-radius: 4% !important;
	}
	/* ---------------  Breed  End ----------------- */
	
}
	